# Docker-compose.yml
services:
  backend:
    build: ./server
    container_name: backend-module
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: http://52.195.15.79:5000/api
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend